<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="termProject.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>
<system.net>
      <mailSettings>
       
        <smtp from="TU_ACCESSNET_ACCOUNT@cis-linux2.temple.edu">
              <network host="cis-linux2.temple.edu" port="25" userName="TU_ACCESSNET_ACCOUNT" password="TU_ACCESSNET_PASSWORD"/>
        </smtp>
     
      </mailSettings>
  </system.net>
    <applicationSettings>
        <termProject.Properties.Settings>
            <setting name="termProject_cardProcessing_verifyCard" serializeAs="String">
                <value>http://localhost:6682/verifyCard.asmx</value>
            </setting>
            <setting name="termProject_MerchantStore_MerchantStore" serializeAs="String">
                <value>http://localhost:56701/MerchantStore.asmx</value>
            </setting>
            <setting name="termProject_ErikaGin_MerchantStore" serializeAs="String">
                <value>http://cis-iis2.temple.edu/Fall2015/CIS3342_tuc54867/TermProjectWS/MerchantStore.asmx</value>
            </setting>
        </termProject.Properties.Settings>
    </applicationSettings>
    <system.serviceModel>
        <bindings />
        <client />
    </system.serviceModel>
</configuration>
